<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <!-- 数据库服务器环境 -->
        <environment id="development">
            <!-- 事务管理器 -->
            <transactionManager type="JDBC"/>
            <!-- 连接信息（驱动、地址、用户与密码） -->
            <dataSource type="POOLED">
                <property name="driver" value="org.mariadb.jdbc.Driver"/>
                <property name="url" value="jdbc:mariadb://172.18.6.2/School"/>
                <property name="username" value="root"/>
                <property name="password" value="Qwer1234."/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 注册StudentMapper文件 -->
        <mapper resource="mappers/StudentMapper.xml"/>
    </mappers>
</configuration>
